services:
  visualizer:
    image: dockerswarmvisualizer/dockerswarmvisualizer:latest
    ports:
      - "5000:5000"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    security_opt:
      - no-new-privileges:true
    cap_drop:
      - ALL
    deploy:
      placement:
        constraints:
          - node.role == manager
